/***************about**************/
@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
        transform: translate();
    }
    100%{
        transform: translate();
    }
}

.about__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


.about{
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
    background-image: url("../aboutbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
.about__container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 14rem;
    height: 100%;
    animation: fade 6s ease both;
}
.about__right p {
    margin: 1rem 0 2.4rem;
    
       

}

.header__right h1 {
    margin-bottom: 1.5rem; 
   
}
/*********our focus************/
.focus__container{
    height: 27rem;
    animation: fade 6s ease both;
   
    
    
        
}

.focus h1{
    line-height: 1;
    margin-bottom: 3rem;
   
    
   
}
.focus p {
    margin: 1rem 0 2.4rem;
   
}
.focus{
    background:var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0,0,0,0.5);
}

@media screen and (max-width: 1024px){
    .about{
        height: fit-content;
    }
    .focus{
        height: fit-content;
    }
}
@media (max-width: 1366px) {
    .about{
        height: 150vh;

    }
}

@media screen and (max-width: 600px){
   /*====about===*/
.focus__container{
    height: fit-content;
}
.focus{
    text-align: center;
}
.about {
    height: fit-content; /* Adjust height for mobile */
    padding: 2.5rem 0; /* Adjust padding for mobile */
    background-position: bottom right; /* Ensure the image is positioned correctly */
    background-size: 150%; /* Maintain zoom level */
}

.about__container {
    grid-template-columns: 1fr;
    text-align: center; /* Center the text */
    gap: 2rem;
}

.about__left,
.about__right {
    margin: 0 auto; /* Center the content */
}

.about__left h1 {
    font-size: 1.5rem; /* Adjust font size for mobile */
}

.about__left p {
    font-size: 1rem; /* Adjust font size for mobile */
    margin-bottom: 1.5rem; /* Adjust margin for mobile */
}

.about__left .btn {
    margin-top: 1rem; /* Adjust margin for mobile */
}



}

