*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none; 
    list-style: none;
    box-sizing: border-box;
}

:root{
    --color-primary: #844da3;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247,88,66,0.4);
    --color-white: #fff;
    --color-light: rgba(255,255,255,0.7);
    --color-black: #000;
    --color-bg: #663b94;
    --color-bg1:#221c69;
    --color-bg2: #080942;

    --container-width-lg: 80%;
    --container-width-md:90%;
    --container-width-sm:94%;

    --transition: all 400ms ease;

}

body{
  font-family: "Orbitron", sans-serif;
  
    line-height: 1.7;
    color: var(--color-white);
    background: linear-gradient(-45deg, #e54ed0,#221c69 ,#080942, #e54ed0 );
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  
     
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
        transform: translate();
    }
    100%{
        transform: translate();
    }
}



.container{
    width:var(--container-width-lg);
    margin: 0 auto;

}

section{
    padding: 6rem 0;

}
section h2{
    text-align: center;
    margin-bottom: 4rem;
    color: #fff;
    
}


@keyframes animate{
    from{
        text-shadow: 0 0 20px #fff
    }
    to{
        text-shadow: 0 0 30px #fff, 0 0 10px #fff;
    }

}

.animate-text {
    animation: animate 1.5s infinite alternate;
    color: white; /* Keep the pink color */
    font-style: italic;
    font-weight: bold;
}
.animate-text-nav{
    animation: animate 1.5s infinite alternate;
    color: white; 
    
    
}



h1, h2, h3, h4, h5{
    line-height: 1.2;
}
h1{
    font-size: 2.4rem;
    
   
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    
    font-size: 1.3rem;
}
a{
    color: var(--color-white);
}
img{
    width: 27rem;
    display: block;
    object-fit: cover;
}

.btn{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
    animation: animate 1s ease-in-out infinite;

}
.btn:hover{
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
    animation: animate 1s ease-in-out infinite;
}
.btn-primary{
    background: #e54ed0;
    color: var(--color-white);
    animation: animate 1s ease-in-out infinite;
}

/*-----------NAVIGATION BAR------------*/

nav{
    background:transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top:0;
    z-index:11;

}
.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button{
    display:none;
}
/*change navbar while scrolling on js*/

.window-scroll{
    background: black ;
    box-shadow:0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav__menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.nav__menu a{
    font-size: 0.9 rem;
    
}

.nav__menu a:hover{
    color: #e54ed0;
}
.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__container .logo {
    max-width: 200px; /* Increase the max-width to make the logo larger */
    height: auto;
}

/*-----------Header------------*/

header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
    animation: fade 6s ease both;


}
.header__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 14rem;
    height: 100%;
}
.header__left p {
    margin: 1rem 0 2.4rem;

}
/*-----------Details------------*/

.details__container{
    height: 40rem;
    animation: fade 6s ease both;
    
        
}
.details{
    background-image: url("../plant2.avif");
    background-size: cover;
    background-repeat: no-repeat;
}
.details h1{
    line-height: 1;
    margin-bottom: 3rem;
    
   
}
.details p {
    margin: 1rem 0 2.4rem;
    animation: fade linear;
    animation-timeline: view();

    
    
}


/*-------Our courses------*/
.courses {
    
    background-color: #221c69;
    
    
}
.courses__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    animation: fade linear;
    animation-timeline: view();
    

}
.course__image img{
    height: 50%;
    width: 100%;
}
.course{
    background: var(--color-bg2);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);

}
.course:hover{
    background: transparent;
    border-color: var(--color-primary);
}

.course__Info{
    padding: 2rem;
}

.course__Info p{
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
    

}


/*-------FAQ------*/

.faqs{
    background:var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0,0,0,0.5);
    

}

.faqs__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    animation: fade linear;
    animation-timeline: view();
    
}

.faq{
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: var(--color-bg2);
    cursor: pointer;
}
.faq h4{
    font-size: 1rem;
    line-height: 2.2;
}
.faq__icon{
    align-self: flex-start;
    font-size: 1.2rem;
}
.faq p{
    margin: 0.8rem;
    display:none;

}
.faq.open p{
    display: block;
}

/*-------FOOTER-----*/
footer{
 
    background: var(--color-bg1);
    padding-top: 5rem;
    font-size: 0.9rem;
   margin-bottom: 5rem;
   padding-bottom: 5rem;
   
}

.footer__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    

}
.footer__container > div h3 { 
    margin-bottom: 1.2rem;
}

.footer__1 p{
    margin: 1rem 0 2rem;
}

footer ul li{
    margin-bottom: 0.7rem;
}

footer ul li a:hover{
    text-decoration: underline;
}
.footer__logo-image {
    max-width: 200px; /* Adjust the width as needed */
    height: auto;
}


/*=========Media Queries (Tablets)========*/

@media screen and (max-width: 1024px){
    body{
    background: linear-gradient(-45deg, #e54ed0,#221c69 ,#080942, #e54ed0 );
    background-size: 200% 200%;
	animation: gradient 10s ease infinite;
    }
    .container {
       width: var(--container-width-md);
    }

    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.7rem;
    }
    h3{
        font-size: 1.4rem;
    }

    h4{
        font-size: 1.2rem;
    }
    /*=======navbar====*/
    nav button{
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-white);
        cursor: pointer;
    }
    #close-menu {
        display: none;
     
    }
    .nav__menu{
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
        
    }
    .nav__menu li{
        width: 100%;
        height: 5.8rem;

    }
    .nav__menu li a{
        background: var(--color-bg2);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;

    }
    .nav__menu li a:hover{
        background: var(--color-bg1);
        color: var(--color-white);
    }
    /*======header=======*/
    header{
        height: fit-content;
        margin-bottom: 4rem;

    }
    .header__container{
        gap: 0;
        padding-bottom: 3rem;
       
    }
   

    /*======details=========*/

   

    /*===== faq=====*/.faqs__container
     {
        grid-template-columns: 1fr;
    }

    .faq {
        padding: 1.5rem;
    }

    /*=====footer=====*/

    .footer__container{
        grid-template-columns: 1fr 1fr;
    }
  

}
@media (max-width: 1366px) {
    .header__right-image img {
        width: 80%; 
    }
    .header__left h1 {
        font-size: 1.7rem;
    }
    header{
        height: 100vh;

    }
    
    
}

/*=====Media Queries Phones ======*/

@media screen and (max-width: 600px){
    .container{
        width: var(--container-width-sm);
    }

    /*==============Navbar==========*/

    .nav__menu{
        right: 3%;
    }

    /*====header======*/

    header{
        height: 100vh;
    }

    .header__container{
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 3rem;
    }
    .header__left p{
        margin-bottom: 3rem;
    }
    .header__left h1 {
        font-size: 1.8rem;
    }
    .header__left .btn {
        margin-top: 0.5rem;
        margin-bottom: -25rem;
         
    }
    .header__right-image img {
        width: 100%; 
    }
    /*=====details====*/

    .details h1{
        font-size: 1.8rem;
        text-align: center;

    }
    .details__container{
        text-align: center;
    }

    .details__container .details__image {
        margin-top: 20rem; /* Move the image up */
        margin-bottom: 1rem; /* Adjust spacing below the image */
    }
    .details__container{
        height: fit-content;
        background-size: 250%;
       
    }
    

    /*======courses=======*/
    .courses__container{
        grid-template-columns: 1fr;
        height: fit-content;
        

    }
    
    /*===faq====*/
    .faqs h2 {
        font-size: 1.5rem; /* Decrease font size for smaller screens */
    }
    
    /*======footer====*/
    .footer__container{
        grid-template-columns: 1fr;
        gap: 2rem;
        text-align: center;
    }
    


}


